// Body
$body-bg: #f8fafc;
.navbar {
    width: 100%;
    max-width: 100%;
    margin: 0
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
